body {
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjH1ezOnJfgAhVJ64MKHWY-CKEQjRx6BAgBEAU&url=https%3A%2F%2Fwww.123rf.com%2Fphoto_66585295_stock-vector-old-newspaper-vintage-design-retro-background-vector-template-with-text-and-images-.html&psig=AOvVaw39IM4pHleWcdOO220SiQER&ust=1548996721674453") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}